.pragmatic_footer_logo {
    font-family: 'Lobster', cursive;
    font-size: 20px;
    margin: 20px 0;
}

.pragmatic_footer_button {
    font-size: .9rem;
}

.pragmatic_footer {
    text-align: center;
    margin-top: 1rem;
}

.pragmatic_logo {
    font-family: 'Lobster', cursive;
    font-size: 60px;
}

.pragmatic_header {
    text-align: center;
    margin: 2rem 0;
}