<!DOCTYPE html>
<html lang="ko">
{% load bootstrap4 %}
{% include 'head.html' %}
{% bootstrap_css %}
<body style="font-family:'NanumSquare'">

    {% include 'header.html' %}

    <hr/>

    {% if messages %}
    {% for message in messages %}
    <div style="text-align: center">
        <div class="btn btn-{{ message.tags }} rounded-pill px-5 my-3">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}

    <hr/>

    {% include 'footer.html' %}
{% bootstrap_javascript jquery='full' %}
</body>
</html>