{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    <div style="text-align: center; max-width: 700px; margin: 4rem auto;">

        <h2>
            <strong>{{ target_article.title }}</strong>
        </h2>
        <div style="height: 2rem">
            <a href="{% url 'likeapp:article_like' pk=target_article.pk %}">
            <i style="vertical-align: middle; font-size: 1.2rem; color: #f77"
               class="material-icons">
                favorite
            </i>
            </a>
            <span style="vertical-align: middle; font-size: 1.2rem;">
                {{ target_article.like }}
            </span>
        </div>
        <div>
            <img src="{{ target_article.writer.profile.image.url }}" alt="profile"
                 style="height: 3rem; width: 3rem; border-radius: 20rem; margin-bottom: 1rem; object-fit: cover;">
            <h5>
                {{ target_article.writer.profile.nickname }} &nbsp;&nbsp;&nbsp;{{ target_article.created_at }}
            </h5>
        </div>

        <hr/>
        <img src="{{ target_article.image.url }}" alt="" style="width:100%; border-radius: 1rem; margin: 2rem 0">
        <div class="text-left mb-5">
            {{ target_article.content | safe }}
        </div>

        {% if user.is_authenticated %}
        <a href="{% url 'articleapp:create' %}" class="btn btn-primary rounded-pill col-3">
            Create
        </a>
        {% else %}
        <a href="{% url 'accountapp:login' %}" class="btn btn-primary rounded-pill col-3">
            Login
        </a>
        {% endif %}
        {% if target_article.writer == request.user %}
        <a href="{% url 'articleapp:update' pk=target_article.pk %}" class="btn btn-primary rounded-pill col-3">
            Update
        </a>
        <a href="{% url 'articleapp:delete' pk=target_article.pk %}" class="btn btn-danger rounded-pill col-3">
            Delete
        </a>
        {% endif %}

        <hr/>

        {% for comment in target_article.comment.all %}
            {% include 'commentapp/detail.html' with comment=comment %}
        {% endfor %}

        {% include 'commentapp/create.html' with article=target_article %}

    </div>

{% endblock %}